# Go binary output
/bin/
/obj/

# Go workspace files
.idea/
.vscode/

# VSCode settings
.vscode/settings.json

# Dependency directories
/vendor/

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test coverage
*.out
*.test

# IDE files (e.g., JetBrains, Visual Studio)
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*~.nfs

# OS-specific files
.DS_Store
Thumbs.db

XTESTNET*
modulr*

TODO
alfp_probe_*
scripts/
point-*


///Мне кажется я опять улучшение придумал. Нам вообще можно обойтись без этого и вот как:

1. Смотри, раз нам известен кворум и эпоха - значит так же легко можем получить последовательность лидеров (leaders sequence)
2. А дальше мы просто как бы запрашиваем кворум за какую высоту они проголосовали 